@import url("https://fonts.googleapis.com/css2?family=Klee+One&display=swap");
@import url("https://use.typekit.net/zlc0cbr.css");

@font-face {
    font-family: 'MARI&DAVID';
    src: url(fonts/MARI&DAVID.ttf) format('truetype');
}

@font-face {
    font-family: 'DK Nanuk';
    src: url(fonts/Dknanuk-q6G6.otf) format('opentype');
}

html {
    font-family: 'Klee One';
    background-color: #eee;
    box-sizing: border-box;
}

body {
    background-color: #ddd;
    margin: 30px auto;
    max-width: 960px;
    padding: 1rem 3rem;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

ul.header__pageIndex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.header__pageIndex li {
    list-style: none;
    width: calc(100% / 4);
    text-align: center;
}

.header__pageIndex a {
    font-family: 'bitter', serif;
    display: block;
    width: calc(100% - 2rem);
    padding: 0.5rem 0;
    margin: 1rem;
    text-decoration: none;
    color: #9a9a9a;
    border-top: 2px solid #9a9a9a;
    border-bottom: 2px solid #9a9a9a;
    transition: color ease 0.5s, background-color ease 0.5s, border-color ease 0.5s;
}

.header__pageIndex i {
    color: #9a9a9a;
    margin-right: 0.5rem;
    transition: color ease 0.5s, background-color ease 0.5s, border-color ease 0.5s;
}

.header__pageIndex__content {
    display: block;
    padding: 0.5rem;
    text-align: center;
    color: #9a9a9a;
}

.header__pageIndex__content--active {
    display: block;
    padding: 0.5rem;
    text-align: center;
}

.header__pageIndex__content--active i {
    color: #fff;
}

.header__pageIndex__content--active a {
    color: #fff;
    background-color: #9a9a9a;
    border-color: #9a9a9a;
}

.header__pageIndex a:hover {
    color: #fff;
    background-color: #f8ce60;
    border-color: #f8ce60;
}

.header__pageIndex a:hover i {
    color: #fff;
}

.header__siteTop {
    font-family: 'MARI&DAVID';
    font-size: 1.5rem;
    box-sizing: border-box;
    padding: 1rem 2rem;
    margin: 10px 5%;
    width: 90%;
    background-color: #f8b8c5;
    letter-spacing: 0.5rem;
}

.header__siteTop span {
    font-family: 'DK Nanuk';
    font-size: 5rem;
    letter-spacing: 0.2rem;
}

footer p {
    text-align: center;
    padding: 0.5rem 0;
}

.img__container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: calc(540px + 4rem);
}

.img__piano {
    width: 50%;
    height: 270px;
    border: #9a9a9a 1rem solid;
}

.img__guitar {
    width: 50%;
    height: 270px;
    border: #9a9a9a 1rem solid;
}

.img__synthesizer {
    height: 100%;
    border: #9a9a9a 1rem solid;
}